/*BEGIN FightPad Pro Controller Styling edited for HFC*/
.controller.fpp {
    background: url(https://raw.githubusercontent.com/Zychuu/HFC_GPV/main/HFC_V2.png) center no-repeat;
    height: 755px;
    width: 938px;
}

.fpp.disconnected {
    background: url(fpp-assets/base-disconnect.svgz) no-repeat;
}

.fpp.disconnected div {
    display: none;
}

.fpp .triggers {
    width: 684px;
    height: 104px;
    position: absolute;
    left: 145px;
}

.fpp .trigger {
    width: 96px;
    height: 104px;
    background: url(fpp-assets/triggers.svgz_no) no-repeat;
    opacity: 0;
}

.fpp .trigger.left {
    float: left;
}

.fpp .trigger.right {
    float: right;
    background-position-x: -98px
}

.fpp .bumpers {
    position: absolute;
    width: 816px;
    height: 76px;
    left: 65px;
    top: 115px;
}

.fpp .bumper {
    width: 221px;
    height: 75px;
    background: url(fpp-assets/bumpers_no.svgz);
    opacity: 0;
}

.fpp .bumper.pressed {
    opacity: 1;
}

.fpp .bumper.left {
    float: left;
}

.fpp .bumper.right {
    background-position-x: -223px;
    float: right;
}

.fpp .bumper.right:after {
    content: "";
    position: absolute;
    background: url(fpp-assets/buttons.svgz) no-repeat;
    background-position: -280px 0px;
    width: 70px;
    height: 70px;
    top: 121px;
    right: 70px;
}

.fpp .quadrant {
    position: absolute;
    background: url() no-repeat;
    height: 46px;
    width: 152px;
    top: 365px;
    left: 347px;
}

.fpp .p0 {
    background-position: -6px 0;
}

.fpp .p1 {
    background-position: -160px 0;
}

.fpp .p2 {
    background-position: -317px 0;
}

.fpp .p3 {
    background-position: -474px 0;
}

.fpp .arrows {
    position: absolute;
    width: 175px;
    height: 43px;
    top: 253px;
    left: 397px;
}

.fpp .arrows:before {
    content: "";
    position: absolute;
    width: 55px;
    height: 22px;
    background: url() no-repeat;
    left: -126px;
}

.fpp .back.pressed, .fpp .start.pressed {
    background: url(ps3-assets/menus.png);
    width: 34px;
    height: 19px;
    background-position-y: -21px;
    margin-top: 2px;
}

.fpp .start.pressed {
    position: absolute;
    top: 0px;
    right: 0px;
    float: right;
    background-position: 37px -21px;
}

.fpp .back {
    float: left;
}

.fpp .start {
    float: right;
}

.fpp .abxy {
    position: absolute;
    width: 260px;
    height: 220px;
    top: 260px;
    left: 550px;
}

.fpp .trigger-button.right.pressed {
    position: absolute;
    width: 70px;
    height: 70px;
    background: url(fpp-assets/buttons.svgz) no-repeat;
    background-position: -351px 0;
    right: -35px;
    top: 320px;
}

.fpp .button {
    position: absolute;
    width: 70px;
    height: 70px;
    background: url(fpp-assets/buttons.svgz) no-repeat;
    opacity: 0;
}

.fpp .button.pressed {
    opacity: 1;
}

.fpp .a {
    background-position: 0 0;
    top: 145px;
    left: 72px;
}

.fpp .b {
    background-position: -70px 0;
    top: 89px;
    right: 35px;
}

.fpp .x {
    background-position: -140px 0;
    top: 67px;
    left: 25px; 
}

.fpp .y {
    background-position: -210px 0;
    left: 105px;
    top: 11px;
}

.fpp .sticks {
    position: absolute;
    width: 114px;
    height: 114px;
    top: 386px;
    left: 215px;
}

.fpp .stick {
    position: absolute;
    background: url() no-repeat;
    height: 114px;
    width: 114px;
}

.fpp .stick.pressed.left {
    background-position-x: -115px;
}

.fpp .stick.pressed.right {
    background-position-x: -229px;
}

.fpp .stick.left {
    top: 0;
    left: 0;
}

.fpp .stick.right {
    display: none;
    top: 0;
    left: 0;
}

.fpp .dpad {
    zoom: 1.2;
    position: absolute;
    width: 110px;
    height: 111px;
    top: 225px;
    left: 130px;
}

.fpp .face {
    background: url(xbox-assets/dpad.svgz);
    position: absolute;
    opacity: 0;
}

.fpp .face.pressed {
    opacity: 1;
}

.fpp .face.up {
    background-position: 34px 0;
    left: 38px;
    top: 0px;
    width: 34px;
    height: 56px;
}

.fpp .face.down {
    background-position: 0px 0;
    left: 38px;
    bottom: 0;
    width: 34px;
    height: 56px;
}

.fpp .face.left {
    background-position: 0 -93px;
    width: 55px;
    height: 35px;
    top: 38px;
    left: 0;
}

.fpp .face.right {
    background-position: 0 -57px;
    width: 55px;
    height: 35px;
    top: 38px;
    right: 0;
}

.fpp.half {
    margin-top: -315px;
}

.fpp {
    background: no-repeat center;
}

/*END FightPad Pro Controller Styling*/
